.login {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
}

.login__form {
  background: var(--color-white);
  border-radius: 24px;
  box-shadow: 0 4px 32px rgba(38, 38, 39, 0.932);
  padding: 2.5rem 2.2rem 2.5rem 2.2rem;
  min-width: 320px;
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Montserrat', Arial, sans-serif;
  margin-top: 100px;

  
}

.login__form h1 {
  font-family: 'Playfair Display', serif;
  color: #003300;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.login__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.login__field label {
  font-size: 1rem;
  color: #003300;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.login__field input {
  padding: 0.7em 1em;
  border-radius: 12px;
  border: 1.5px solid rgba(102, 98, 98, 0.733);
  font-size: 1rem;
  font-family: inherit;
  background: var(--color-bg);
  color: var(--color-secondary);
  transition: border 0.2s, box-shadow 0.2s;
}
.login__field input:focus {
  border: 1.5px solid var(--color-primary);
  box-shadow: 0 2px 12px rgba(216, 138, 22, 0.753);
  outline: none;
}

.login__button {
  background: #663300;
  color: #f6f4f3;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.7em 2em;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-soft);
  transition: background 0.2s, box-shadow 0.2s;
}
.login__button:hover {
  background: #003300;
  color: #889982;
  box-shadow: 0 8px 32px rgba(34,34,59,0.12);
  border: none;
}

@media (max-width: 500px) {
  .login__form {
    padding: 1.2rem 0.7rem 1.2rem 0.7rem;
    min-width: unset;
    max-width: 98vw;
  }
}