
body {
  margin: 0;
  font-family: sans-serif;
}

.shoppingbag {
  max-height: 500px;
  overflow-y: auto;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shoppingbagItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 100px;
}

.shoppingbagItem img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.description p b {
  font-size: 18px;
  color: #111;
}

.countHandler {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countHandler button {
  width: 32px;
  height: 32px;
  background-color: #003300;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.countHandler button:hover {
  background-color: #304730;
}

.countHandler input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
